/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 20, 2018, 3:57:54 PM
    Author     : Turbotwins
*/

.swoosh{
    background-color: greenyellow
}
.swoosh:focus {
    background-color: yellow
}